# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# Environment variables
.env

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Cache
.pytest_cache/
.mypy_cache/

firebase-service-account.json
service-account.json
*.service-account.json
